/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
*, *:before, *:after {
    margin: 0;
    padding: 0;
}

:root {
    --text-colour: white;
    --primary-colour: #222324;
    --secondary-colour: #A2A2A2;
    --accent-colour: #03A9F3;
    --header-font: 'Inter', 'Arial', sans-serif;
    --text-font: 'Montserrat', 'Arial', sans-serif;
    --box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

body {
	font-size: 1rem;
    font-family: var(--text-font);
    color: white;
    background-color: var(--secondary-colour);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

p {
    font-size: 1.1rem;
}

section {
    padding: 2rem;
}

/* Elements
--------------------------------------------- */
ul {
    list-style: none;
}

/* Links
--------------------------------------------- */
a {
	text-decoration: none;
    color: var(--text-colour);
}

a:visited {
	color: var(--text-colour);
}


/*
a:active {
	
} */


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
#header {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;

    background-image: url('../images/black-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo {
    width: 75px;
    height: auto;
    margin-left: 2rem;
}

.menu-toggle {
    display: block;
    background-color: transparent;
    border: none;
    fill: var(--accent-colour);
    margin-left: 2rem;
    margin-right: 2rem;
}

.menu-toggle:hover {
    fill: var(--text-colour);
}

.menu-toggle.toggled ul {
    display: block;
}

#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--primary-colour);
    padding: 1rem 0;
}

.header-menu {
    display: none;
    position: absolute;
    background-color: var(--primary-colour);
    top: 107px;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.header-menu a {
    display: block;
    color: var(--accent-colour);
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    transition: transform 0.3s;
}

.header-menu a:hover {
    transform: scale(1.1);
    color: var(--text-colour);
}

.site-navigation.toggled .header-menu {
    display: block;
}

.intro-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 1rem;
    gap: 2rem;
}

.intro-banner p {
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
}

.intro-banner p:first-child {
    font-size: 4rem;
}

.intro-banner p:nth-child(2) {
    font-size: 3rem;
}

.intro-banner p:last-child {
    font-size: 2rem;
}

.my-name {
    color: var(--accent-colour);
}

@media (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }

    .site-navigation .header-menu,
    .site-navigation.toggled .header-menu {
        display: flex;
        position: relative;
        top: 0;
        gap: 2rem;
        margin: 0 2rem;
        box-shadow: none;
    }
}

@media (min-width: 50em) {
    .header-menu a {
        font-size: 1.5rem;
    }
}

@media (min-width: 62.5em) {
    .header-menu a {
        font-size: 1.6rem;
    }

    .intro-banner p:first-child {
        font-size: 5rem;
    }
    
    .intro-banner p:nth-child(2) {
        font-size: 4rem;
    }
    
    .intro-banner p:last-child {
        font-size: 3rem;
    }
}

/* Main
--------------------------------------------- */
#main {
    background-color:  #A2A2A2;
    margin: 8rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 3rem 3rem;
    max-width: 50rem;
    border-radius: 1rem;
    background-color: var(--primary-colour);
    box-shadow: var(--box-shadow);
    line-height: 2;
}

.container h1 {
    color: var(--accent-colour)
}


.projects-header {
    max-width: 35rem;
}

.projects-header .projects-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.projects-selector button {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--text-colour);
    font-size: 1.3rem;

    transition: transform 0.3s ease;
}
.projects-selector button:hover {
    transform: translateY(-0.5rem);
}

.project-selector-btn.active {
    text-decoration: underline;
    text-underline-offset: 1em;
    text-decoration-color: var(--accent-colour);
}

.projects-container {
    display: none;
    flex-wrap: wrap;
    margin: 2rem auto 0;

    max-width: 40rem;
    gap: 3rem;
}

.html-css-projects {
    display: flex;
}

.projects-container article {
    flex: 1 1 15rem;
    text-align: center;
}


/* Footer
--------------------------------------------- */
#footer-section {
    background-color: var(--primary-colour);
    padding: 2rem;
}

#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#contact-me a {
    background-color: var(--secondary-colour);
    color: black;
    padding: 1rem;
    border-radius: 0.25rem;
    font-weight: 600;

    transition: transform 0.3s ease;
}

#contact-me a:hover {
    background-color: var(--accent-colour);
    transform: scale(1.1);
}

.copyright {
    text-align: center;
    margin-top: 3rem;
}

@media (min-width: 37.5em) {
    #contact-me {
        flex-direction: row;
        justify-content: center;
    }
}